html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%
}

.header{
  background-color: rgba(223, 194, 211);
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0px;
  z-index: 1;
}
.list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
}

nav a{
  color: black;
  text-decoration: none;
  font-family:Arial;
  font-size: large;
  text-transform: uppercase;
}

nav a:hover {
    color:rgb(255, 255, 255);
}

.detail-about-page{
  position: relative;
  background-color: rgba(230, 186, 211, 0.152);
  backdrop-filter: blur(10px);
  width: 90%;
  left: 5%;
  height:fit-content;
  padding: 20px 10px 20px 10px ;
  margin: 20px 20px;
  border-radius: 35px ;
  align-items: center;
  top: 90px;
  font-size: 20px;
}
.sub-heading{
  display: block;
  position: relative;
  text-align: center;
  font-size: 70px;
  padding: 20px ;
  top: 100px;
}
.life-on-land{
  width: 90%;
  margin: 5%;
}

.big-container{ 
  position: relative;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  top: 100px;
}

.container{
  display: block;
  background-color: rgba(230, 186, 211, 0.052);
  backdrop-filter: blur(10px);
  max-width: 40%;
  height:fit-content;
  font-size: 1.4rem;
  padding: 20px 10px 20px 10px ;
  margin: 20px 20px;
  border-radius: 35px ;
}

.image{
  width: 90%;
  margin: 10%;
}
.img{
  height: 90%;
  width: 90%;
  border-radius: 30px;
}

footer{
  position: relative;
  text-align: center;
  background-color: bisque;
  width: 100%;
  height: 300px;
  margin-top: 150px;
}
/*details*/

.post {
  background-color: white;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post h2 {
  margin-top: 0;
}

.post a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

/* login page*/
.background-image-loginpage{
  margin: 5%;
  height: 90%;
  width: 90%;
  position: relative;
}
form{
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(135, 125, 212, 0.6);
  padding: 50px 35px;
}
form *{
  font-family: 'Poppins',sans-serif;
  color: #0b0b0b;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.544);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder{
  color: #0e0d0d;
}
button{
  margin-top: 50px;
  width: 100%;
  background-color: #433b3b;
  color: #ffffffb4;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social{
margin-top: 30px;
display: flex;
justify-content: center;
}
.social div{
width: 160px;
border-radius: 3px;
padding: 5px 10px 10px 5px;
background-color: rgba(255, 255, 255, 0.582);
color: #000000;
text-align: center;
}
.social div:hover{
background-color: rgba(0, 0, 0, 0.753);
color: #fcfcfc;
}
.social .fb{
margin-left: 25px;
}
.social i{
margin-right: 4px;
}

#responseMessage {
  margin-top: 20px;
  text-align: center;
}

input, textarea {
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
}