body{
    background-image: url(bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
  .about
{
    color: white;
    margin-top: 20px;
    padding: 20px;


}
#r3{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
}

.r2,.r1{
    margin-top: 30px;
    padding: 30px;
    display: inline-flex;


}
.img{
    height: 170px;
    width: 70px;
}
data-bs-content{
    
}